* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px;
  color: white;
  text-align: center;
  background-color: rgb(40, 108, 82);
}

main {
  margin-top: 67px;
}

.minha_foto {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(128, 128, 128, 0.149);
}

#minha_foto {
  width: 350px;
  transform: rotate(45deg);
}

.minha_foto_texto {
  line-height: 2rem;
}

.minha_foto_texto a {
  padding: 2px;
  color: white;
  font-weight: 600;
  text-decoration: none;
  background-color: rgb(71, 145, 110);
}
